.content-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.53);
  -webkit-animation: left-to-right ease 1s backwards;
  animation: left-to-right ease 1s backwards;
}

.content-menu .list-content {
  position: fixed;
  top: 0;
  left: 0;
  width: 276px;
  height: 100%;
  padding-top: 45px;
  background-color: #ffffff;
}

.item {
  -webkit-box-shadow: 5px 0 #f26002 inset;
  box-shadow: 5px 0 #f26002 inset;
  padding-left: 30px;
  margin-bottom: 8px;
  list-style-type: none;
  -webkit-transition: -webkit-box-shadow ease 1s;
  transition: -webkit-box-shadow ease 1s;
  transition: box-shadow ease 1s;
  transition: box-shadow ease 1s, -webkit-box-shadow ease 1s;
}

.item:hover {
  -webkit-box-shadow: 276px 0 #f26002 inset;
  box-shadow: 276px 0 #f26002 inset;
}

.item a {
  text-decoration: none;
  position: relative;
  display: block;
  width: 100%;
  color: #304268;
  -webkit-transition: color ease 0.1s;
  transition: color ease 0.1s;
}

.item a:hover {
  color: #ffffff;
}

.btn-close {
  position: absolute;
  top: 0;
  left: 276px;
  cursor: pointer;
}

.btn-close .icon-close {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.hidden {
  display: none;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.content-hero {
  text-align: center;
  position: absolute;
  max-width: 290px;
  bottom: 143px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.content-hero .paragraph-hero {
  margin-top: 10px;
}

.btn-menu {
  position: fixed;
  top: 0;
  left: 0;
  cursor: pointer;
}

.btn-menu .icon-menu {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn-scroll-down {
  position: absolute;
  cursor: pointer;
  bottom: 53px;
}

.btn-scroll-down .icon-scroll-down {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.title-hero {
  font-family: "Roboto Slab", serif;
  font-weight: bold;
  font-size: 42px;
  line-height: 55px;
  color: #ffffff;
}

.paragraph-hero {
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
}

.item a {
  font-family: "Roboto Slab", serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 45px;
  color: #304268;
}

.insomnia {
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  color: #8ccbea;
}

.title {
  font-family: "Roboto Slab", serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  color: #000000;
}

.paragraph {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
}

.paragraph.looking {
  color: #4a4a4a;
}

.paragraph.reason {
  color: #000000;
}

.title-reason {
  font-family: "Roboto Slab", serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  color: #000000;
}

.button {
  font-size: 20px;
  line-height: 45px;
  font-weight: 500;
}

.button.go {
  color: #f26002;
}

.button.more {
  color: #ffffff;
}

.copyright,.we-love {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: #ffffff;
}

.copyright .love,.we-love .love {
  color: #f26002;
}

.btn-menu {
  background-color: #0271bc;
  outline: none;
  border: 0;
  width: 44px;
  height: 44px;
}

.btn-menu .icon-menu {
  background-image: url("../images/ico-menu.svg");
  background-position: center center;
  background-repeat: no-repeat;
  width: 16px;
  height: 14px;
}

.btn-close {
  background-color: #f26002;
  outline: none;
  border: 0;
  width: 44px;
  height: 44px;
}

.btn-close .icon-close {
  background-image: url("../images/ico-close.svg");
  background-position: center center;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
}

.btn-scroll-down {
  background-color: #ffffff;
  border: 0;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  text-decoration: none;
  color: inherit;
}

.btn-scroll-down .icon-scroll-down {
  background-image: url("../images/ico-scroll-down.svg");
  background-position: center center;
  background-repeat: no-repeat;
  width: 20px;
  height: 11.7px;
}

.button {
  height: 45px;
  border-radius: 22.5px;
  outline: none;
  cursor: pointer;
}

.button.go {
  background-color: #ffffff;
  border: 2px solid #f26002;
  width: 76px;
  -webkit-transition: background-color ease-in 0.5s, color ease-in 0.5s, border ease-in 0.5s;
  transition: background-color ease-in 0.5s, color ease-in 0.5s, border ease-in 0.5s;
}

.button.go:hover {
  background-color: #f26002;
  border: 2px solid #ffffff;
  color: #ffffff;
}

.button.more {
  background-color: #f26002;
  width: 184px;
  -webkit-transition: background-color ease-in 0.5s, color ease-in 0.5s, border ease-in 0.5s;
  transition: background-color ease-in 0.5s, color ease-in 0.5s, border ease-in 0.5s;
}

.button.more:hover {
  background-color: #ffffff;
  border: 2px solid #f26002;
  color: #f26002;
}

.btn-arrow {
  background-color: #ffffff;
  border: 0;
  border-radius: 50%;
  width: 45px;
  height: 45px;
}

.btn-arrow .icon-arrow {
  background-image: url("../images/ico-arrow.svg");
  background-position: center center;
  background-repeat: no-repeat;
  width: 20.6px;
  height: 24px;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.site-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

.container {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 15px;
}

.looking-window,.reasons-box {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding-top: 30px;
}

.looking-window {
  background-color: #ffffff;
}

.looking-window .container {
  margin: 0 auto;
  padding: 0;
  max-width: 290px;
}

.reasons-box {
  background-color: #e2f1f9;
}

.reasons-box .container {
  padding: 0;
  max-width: 290px;
  margin: 0 auto;
  text-align: center;
}

.looking {
  margin-top: 15px;
}

.reasons {
  margin-top: 45px;
  width: 184px;
}

.button.go {
  margin: 30px 0 45px;
}

.button.more {
  margin: 45px 0 60px;
}

.cols-reasons {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.cols-reasons .reasons {
  grid-column: span 12;
  justify-self: center;
}

.footer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 128px;
  width: 100%;
  background-color: #304268;
}

.copyright,.we-love {
  text-align: center;
}

.btn-arrow {
  position: absolute;
  top: -22px;
  cursor: pointer;
}

.btn-arrow .icon-arrow {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@media (min-width: 768px) and (max-width: 1279px) {
  .content-hero {
    max-width: 690px;
    bottom: 120px;
  }

  .content-hero .paragraph-hero {
    margin-top: 20px;
  }

  .btn-scroll-down {
    bottom: 45px;
  }

  .title-hero {
    font-size: 80px;
    line-height: 106px;
  }

  .paragraph-hero {
    font-size: 24px;
  }

  .title {
    font-size: 26px;
    line-height: 45px;
  }

  .paragraph {
    font-size: 20px;
  }

  .title-reason {
    font-size: 24px;
  }

  .button.go {
    width: 91px;
  }

  .button.more {
    width: 210px;
  }

  .container {
    padding: 0 39px;
  }

  .looking-window,.reasons-box {
    padding-top: 30px;
  }

  .looking-window .container {
    max-width: 690px;
  }

  .reasons-box .container {
    padding: 0;
    max-width: 690px;
  }

  .looking {
    margin-top: 30px;
  }

  .reasons {
    width: 210px;
  }

  .reasons .reason {
    margin-top: 20px;
  }

  .button.go {
    margin: 30px 0 60px;
  }

  .button.more {
    margin: 60px 0 60px;
  }

  .cols-reasons {
    grid-gap: 30px;
  }

  .cols-reasons .reasons {
    grid-column: span 4;
  }
}

@media (min-width: 1280px) {
  .content-hero {
    max-width: 730px;
    bottom: 88px;
  }

  .content-hero .paragraph-hero {
    margin-top: 0;
  }

  .btn-scroll-down {
    bottom: 13px;
  }

  .title-hero {
    font-size: 100px;
    line-height: 132px;
  }

  .paragraph-hero {
    font-size: 24px;
  }

  .insomnia {
    font-size: 16px;
  }

  .title {
    font-size: 32px;
    line-height: 45px;
  }

  .paragraph {
    font-size: 20px;
  }

  .title-reason {
    font-size: 24px;
  }

  .button.go {
    width: 160px;
  }

  .button.more {
    width: 255px;
  }

  .container {
    padding: 0;
  }

  .looking-window,.reasons-box {
    padding-top: 60px;
  }

  .looking-window .container {
    max-width: 730px;
  }

  .reasons-box .container {
    padding: 0;
    max-width: 1110px;
  }

  .looking {
    margin-top: 30px;
  }

  .reasons {
    width: 350px;
  }

  .reasons .reason {
    margin-top: 20px;
  }

  .button.go {
    margin: 30px 0 60px;
  }

  .button.more {
    margin: 60px 0 60px;
  }

  .cols-reasons {
    grid-gap: 30px;
  }

  .cols-reasons .reasons {
    grid-column: span 4;
  }
}

@-webkit-keyframes left-to-right {
  from {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 0;
  }

  to {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes left-to-right {
  from {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 0;
  }

  to {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    opacity: 1;
  }
}

/*# sourceMappingURL=styles.css.map */
