@mixin absoluteCentered() {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

// @mixin anim
//
// /* Keyframes */
// @keyframes fadeout {
//   0%      { opacity: 1; }
//   75%     { opacity: 1; }
//   100%    { opacity: 0; }
// }
//
// @-webkit-keyframes fadeout {
//   0%      { opacity: 1; }
//   75%     { opacity: 1; }
//   100%    { opacity: 0; }
// }
//
// @-moz-keyframes fadeout {
//   0%      { opacity: 1; }
//   75%     { opacity: 1; }
//   100%    { opacity: 0; }
// }
