// colors

$color-light: #ffffff;
$color-extra-light-midtone: #e2f1f9 ;
$color-light-midtone: #8ccbea;
$color-midtone: #f26002;
$color-dark-midtone: #4a4a4a;
$color-extra-dark-midtone: #304268;
$color-dark: #000000;

// fonts

$font-roboto: 'Roboto', sans-serif;
$font-robotoSlab: 'Roboto Slab', serif;


// images

$pathImages: '../images/';
