 * {
   margin: 0;
   padding: 0;
   font-family: $font-roboto;
 }
 .site-content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.wrapper {
  flex: 1 0 auto;
}
.container {
  box-sizing: border-box;
  margin: 0 15px;
  @media (min-width: 768px) and (max-width: 1279px) {
    margin: 0 39px;
  }
  @media (min-width: 1280px) {
    margin: 0 auto;
  }
}
