
.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 128px;
  width: 100%;
  background-color: $color-extra-dark-midtone;
}
.copyright,
.we-love {
  text-align: center;
}
.btn-arrow {
  position: absolute;
  top: -22px;
  cursor: pointer;
  .icon-arrow {
    @include absoluteCentered();
  }
}
