
.cols-reasons {
  display: grid;
  grid-template-columns: repeat(12,1fr);
   .reasons {
     grid-column: span 12;
     justify-self: center;

   }
  @media (min-width: 768px) {
    grid-gap: 30px;
    .reasons {
      grid-column: span 4;
    }
  }
}
