// BOTÓN MENÚ

.btn-menu {
  background-color: $color-icon-hamburger;
  outline: none;
  border: 0;
  width: 44px;
  height: 44px;
  .icon-menu {
    background-image: url($pathImages + 'ico-menu.svg');
    background-position: center center;
    background-repeat: no-repeat;
    width: 16px;
    height: 14px;
  }
}

// BOTÓN CLOSE

.btn-close {
  background-color: $color-midtone;
  outline: none;
  border: 0;
  width: 44px;
  height: 44px;
  .icon-close {
    background-image: url($pathImages + 'ico-close.svg');
    background-position: center center;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
  }
}

// BOTÓN SCROLL-DOWN

.btn-scroll-down {
  background-color: $color-light;
  border: 0;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  text-decoration: none;
  color: inherit;
  .icon-scroll-down {
    background-image: url($pathImages + 'ico-scroll-down.svg');
    background-position: center center;
    background-repeat: no-repeat;
    width: 20px;
    height: 11.7px;
  }
}

// BOTÓN GO AND MORE

.button {
  height: 45px;
  border-radius: 22.5px;
  outline: none;
  cursor: pointer;
  &.go {
    background-color: $color-light;
    border: 2px solid $color-midtone;
    width: 76px;
    transition: background-color ease-in 0.5s, color ease-in 0.5s, border ease-in 0.5s;
    @media (min-width: 768px) and (max-width: 1279px) {
      width: 91px;
      &:hover {
        background-color: $color-midtone;
        border: 2px solid $color-light;
        color: $color-light;
      }
    }
    @media (min-width: 1280px) {
      width: 160px;
      &:hover {
        background-color: $color-midtone;
        border: 2px solid $color-light;
        color: $color-light;
      }
    }
  }

  &.more {
    background-color: $color-midtone;
    border: none;
    width: 184px;
    transition: background-color ease-in 0.5s, color ease-in 0.5s, border ease-in 0.5s;
    @media (min-width: 768px) and (max-width: 1279px) {
      width: 210px;
      &:hover {
        background-color: $color-light;
        border: 2px solid $color-midtone;
        color: $color-midtone;
      }
    }
    @media (min-width: 1280px) {
      width: 255px;
      &:hover {
        background-color: $color-light;
        border: 2px solid $color-midtone;
        color: $color-midtone;
      }
    }
  }
}

// BOTÓN ARROW

.btn-arrow {
  background-color: $color-light;
  border: 0;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  .icon-arrow {
    background-image: url($pathImages + 'ico-arrow.svg');
    background-position: center center;
    background-repeat: no-repeat;
    width: 20.6px;
    height: 24px;
  }
}
