@keyframes left-to-right {
  from {
    transform: translateX(-276px);
    opacity: 0;

  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.content-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.53);
  animation: fade-in ease .5s;
  .list-content {
    animation: left-to-right ease 1s ;
    position: relative;
    top: 0;
    left: 0px;
    width: 276px;
    height: 100%;
    padding-top: 45px;
    background-color: $color-light;
  }
}
.item {
  margin-bottom: 8px;
  list-style-type: none;
  transition: box-shadow 1s  ease-in-out;
  -webkit-transition: box-shadow 1s  ease-in-out;
  overflow: hidden;
  a {
    box-shadow: inset 0px 0px 0px $color-midtone;
    transition: box-shadow 0.4s;
    box-sizing: border-box;
    text-decoration: none;
    position: relative;
    display: block;
    color: $color-extra-dark-midtone;
    width: 100%;
    padding-left: 30px;
    transition: all 1s ease;
    &:hover {
      color: $color-light;
      box-shadow: inset -276px 0px 0px $color-midtone;
    }
  }
}

.btn-close {
  position: absolute;
  top: 0;
  left: 276px;
  cursor: pointer;
  .icon-close {
    @include absoluteCentered();
  }
}

.hidden {
  display: none;
}
